.idea
.DS_Store
.vscode
.vs
.werf_secret_key
.eslintcache
local.sh
public
node_modules
dist
yarn_cache
.heapsnapshot

docker/local
docker_legacy/local/
local.js
*.log
*.tsbuildinfo
*.scss.d.ts
**/static/*.js
**/static/*.css
documentation
.DS_Store
.yarn
*.rdb
.run

# turbo
.turbo


backend/ehr_*
git-log.sh
/git-log
jwtRS256*
localhost*
all_off.sh
